<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>

        <mat-card-header>
            {{dish.name | uppercase}}
        </mat-card-header>

        <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}>

        <mat-card-content>
            <p>{{dish.description}}</p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <button mat-button (click)="goBack()">BACK</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>

    </mat-card>

  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list>
        <h1>
            Comments
        </h1>
        <mat-list-item *ngFor="let cm of dish.comments">
            <!-- <img matListAvatar src={{dish.image}} alt={{dish.name}}>
            <h1 matLine>{{dish.name}}</h1> -->
            <p matLine>
                <span>{{cm.comment}}</span>
            </p>
            <p matLine>
                <span>{{cm.rating}} stars</span>
            </p>
            <p matLine>
                <span>-- {{cm.author}} {{cm.date | date}}</span>
            </p>
        </mat-list-item>
    </mat-list>
    <p *ngIf="formComment.valid">
        {{formComment.value | json}}
    </p>

    <form novalidate [formGroup]="formComment" #formcomment="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <input matInput formControlName="name" minlength="2" required placeholder="Name">
            <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
        </mat-form-field>
        <mat-slider formControlName="rate" thumbLabel [displayWith]="formatSlider" tickInterval="1" min="1" max="5"></mat-slider>
        <mat-form-field class="full-width">
            <textarea rows="12" matInput formControlName="comment" required placeholder="Your Comment"></textarea>
            <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
        <button mat-button type="submit" [disabled]="formComment.invalid" class="background-primary text-floral-white">Submit</button>
    </form>

  </div>

  <!-- <div fxFlex="40"> -->
    
  <!-- </div> -->

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loeading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>